body {
  margin: 0;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

html,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
